/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***** GLOBAL STYLES *****/
/* line 8, ../scss/main.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../scss/main.scss */
body {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  background: #fff;
}

/* line 15, ../scss/main.scss */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}

/***** MAIN HEADER SECTION *****/
/* line 23, ../scss/main.scss */
#main-header {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  width: 100%;
  background: url("../img/header_bg.jpg") no-repeat center center;
  text-align: center;
  padding: 40px 0 0 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  *zoom: 1;
}
/* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#main-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../scss/main.scss */
#main-header img {
  float: left;
}
/* line 34, ../scss/main.scss */
#main-header nav {
  float: right;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  font: normal 1.4rem "Montserrat", Helvetica, Arial, sans-serif;
}
/* line 38, ../scss/main.scss */
#main-header nav li {
  display: inline-block;
  margin: 0 20px;
}
/* line 42, ../scss/main.scss */
#main-header nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 46, ../scss/main.scss */
#main-header nav a:hover {
  color: #fed136;
}
/* line 50, ../scss/main.scss */
#main-header nav a.active {
  color: #fed136;
}
/* line 54, ../scss/main.scss */
#main-header p {
  clear: both;
  color: #fff;
  font-family: "Droid Serif", serif;
  font-size: 4rem;
  font-style: italic;
  padding: 215px 0 55px 0;
}
@media (min-width: 760px) and (max-width: 800px) {
  /* line 54, ../scss/main.scss */
  #main-header p {
    font-size: 3rem;
  }
}
/* line 65, ../scss/main.scss */
#main-header h1 {
  font: bold 7.2rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 65, ../scss/main.scss */
  #main-header h1 {
    font-size: 6.5rem;
  }
}
@media (min-width: 760px) and (max-width: 800px) {
  /* line 65, ../scss/main.scss */
  #main-header h1 {
    font-size: 5rem;
  }
}
/* line 77, ../scss/main.scss */
#main-header a#tell-more, #main-header a#tell-more:visited {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  width: 240px;
  display: inline-block;
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #fed136;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 0;
  margin-bottom: 160px;
}
@media (min-width: 760px) and (max-width: 800px) {
  /* line 77, ../scss/main.scss */
  #main-header a#tell-more, #main-header a#tell-more:visited {
    padding: 18px 0;
    width: 220px;
  }
}
/* line 96, ../scss/main.scss */
#main-header a#tell-more:hover {
  background: #fecb1d;
}

/***** SERVICES SECTION *****/
/* line 103, ../scss/main.scss */
#services {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  width: 100%;
  text-align: center;
  padding: 120px 0;
}
/* line 108, ../scss/main.scss */
#services h2 {
  font: bold 4rem "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 20px;
}
/* line 114, ../scss/main.scss */
#services p {
  font: normal 1.6rem "Droid Serif", serif;
  font-style: italic;
  color: #777;
  margin-bottom: 70px;
}
/* line 120, ../scss/main.scss */
#services li {
  display: inline-block;
  width: 28%;
}
/* line 123, ../scss/main.scss */
#services li:nth-child(2) {
  margin: 0 4%;
}
/* line 126, ../scss/main.scss */
#services li img {
  width: 100%;
  max-width: 70px;
  margin-bottom: 20px;
}
/* line 131, ../scss/main.scss */
#services li h4 {
  color: #222;
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
/* line 136, ../scss/main.scss */
#services li p {
  font: normal 1.4rem "Roboto Slab", serif;
  line-height: 1.7;
  margin: 0;
  text-align: left;
}

/***** PORTFOLIO SECTION *****/
/* line 146, ../scss/main.scss */
#portfolio {
  width: 100%;
  text-align: center;
  background: #f7f7f7;
  padding: 115px 0 70px 0;
  position: relative;
}
/* line 152, ../scss/main.scss */
#portfolio h2 {
  font: bold 4rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 158, ../scss/main.scss */
#portfolio p {
  font: normal 1.6rem "Droid Serif", serif;
  font-style: italic;
  color: #777;
  margin-bottom: 75px;
}
/* line 164, ../scss/main.scss */
#portfolio li {
  width: 30%;
  display: inline-block;
  background: #fff;
  margin-bottom: 50px;
  cursor: pointer;
}
/* line 170, ../scss/main.scss */
#portfolio li:nth-of-type(3n+2) {
  margin: 0 2.5%;
}
@media (min-width: 760px) and (max-width: 800px) {
  /* line 170, ../scss/main.scss */
  #portfolio li:nth-of-type(3n+2) {
    margin: 0;
  }
}
@media (min-width: 760px) and (max-width: 800px) {
  /* line 164, ../scss/main.scss */
  #portfolio li {
    width: 45%;
    margin: 0 2%;
    margin-bottom: 50px;
  }
}
/* line 181, ../scss/main.scss */
#portfolio li a {
  -moz-transition: background, 0.3s;
  -o-transition: background, 0.3s;
  -webkit-transition: background, 0.3s;
  transition: background, 0.3s;
  display: block;
  background: #111;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
/* line 189, ../scss/main.scss */
#portfolio li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* line 194, ../scss/main.scss */
#portfolio li h4 {
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #333;
}
/* line 198, ../scss/main.scss */
#portfolio li p {
  font-size: 1.4rem;
  color: #737373;
  margin-bottom: 30px;
}
/* line 204, ../scss/main.scss */
#portfolio .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.9);
}
/* line 216, ../scss/main.scss */
#portfolio .modal-content, #portfolio #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* line 226, ../scss/main.scss */
#portfolio #caption {
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  padding: 30px 0 0 0;
  height: 100px;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* line 242, ../scss/main.scss */
#portfolio .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 4rem;
  font-weight: bold;
  transition: 0.3s;
}
/* line 250, ../scss/main.scss */
#portfolio .close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/***** ABOUT US SECTION *****/
/* line 259, ../scss/main.scss */
#about-us {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  text-align: center;
  padding: 120px 0 30px 0;
  position: relative;
}
/* line 265, ../scss/main.scss */
#about-us::before {
  height: 950px;
  content: "";
  border-right: 3px solid #f1f1f1;
  position: absolute;
  top: 450px;
  left: 51%;
  z-index: -1;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  /* line 265, ../scss/main.scss */
  #about-us::before {
    left: 51%;
  }
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 265, ../scss/main.scss */
  #about-us::before {
    left: 49.5%;
    height: 1000px;
  }
}
/* line 281, ../scss/main.scss */
#about-us h2 {
  font: bold 4rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 287, ../scss/main.scss */
#about-us p {
  font: "Droid Serif", serif;
  font-size: 1.6rem;
  font-style: italic;
  color: #737373;
  padding-left: 30px;
  margin-bottom: 70px;
}
/* line 296, ../scss/main.scss */
#about-us .memorable-events {
  *zoom: 1;
  width: 100%;
  margin-bottom: 90px;
  z-index: 1;
}
/* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#about-us .memorable-events:after {
  content: "";
  display: table;
  clear: both;
}
/* line 301, ../scss/main.scss */
#about-us .memorable-events .text-wrapper {
  float: left;
  width: 40%;
  text-align: right;
  margin-right: 30px;
}
@media (min-width: 960px) and (max-width: 1000px) {
  /* line 301, ../scss/main.scss */
  #about-us .memorable-events .text-wrapper {
    width: 38%;
  }
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 301, ../scss/main.scss */
  #about-us .memorable-events .text-wrapper {
    width: 35%;
  }
}
/* line 314, ../scss/main.scss */
#about-us .memorable-events h3 {
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
/* line 318, ../scss/main.scss */
#about-us .memorable-events h4 {
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
/* line 322, ../scss/main.scss */
#about-us .memorable-events p {
  font: normal 1.4rem "Roboto Slab", serif;
  color: #777;
  line-height: 1.6;
  padding-left: 70px;
  margin: 0;
}
@media (min-width: 960px) and (max-width: 1000px) {
  /* line 322, ../scss/main.scss */
  #about-us .memorable-events p {
    padding-left: 20px;
  }
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 322, ../scss/main.scss */
  #about-us .memorable-events p {
    padding-left: 10px;
  }
}
/* line 335, ../scss/main.scss */
#about-us .memorable-events .image-container {
  width: 50%;
  text-align: left;
  float: left;
}
@media (min-width: 960px) and (max-width: 1000px) {
  /* line 335, ../scss/main.scss */
  #about-us .memorable-events .image-container {
    width: 50%;
  }
}
/* line 342, ../scss/main.scss */
#about-us .memorable-events .image-container img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 10px solid #f1f1f1;
  object-fit: cover;
}
/* line 350, ../scss/main.scss */
#about-us .memorable-events #our-story {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  text-align: center;
  background: #fed136;
  border: 10px solid #f1f1f1;
  margin: 0 auto;
  position: relative;
  left: 20px;
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 350, ../scss/main.scss */
  #about-us .memorable-events #our-story {
    left: 4px;
  }
}
/* line 363, ../scss/main.scss */
#about-us .memorable-events #our-story h3 {
  color: #fff;
  line-height: 1.4;
  padding: 48px 0 0 0;
}
/* line 372, ../scss/main.scss */
#about-us .right-side {
  *zoom: 1;
  z-index: 1;
}
/* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#about-us .right-side:after {
  content: "";
  display: table;
  clear: both;
}
/* line 375, ../scss/main.scss */
#about-us .right-side .text-wrapper {
  width: 35%;
  float: right;
  text-align: left;
  margin: 0 0 0 30px;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  /* line 375, ../scss/main.scss */
  #about-us .right-side .text-wrapper {
    width: 37%;
    margin: 0 0 0 20px;
  }
}
@media (min-width: 880px) and (max-width: 950px) {
  /* line 375, ../scss/main.scss */
  #about-us .right-side .text-wrapper {
    margin: 0;
    width: 34.5%;
  }
}
/* line 389, ../scss/main.scss */
#about-us .right-side p {
  margin: 0;
  padding: 0;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  /* line 389, ../scss/main.scss */
  #about-us .right-side p {
    padding: 0 50px 0 0;
  }
}
/* line 396, ../scss/main.scss */
#about-us .right-side .image-container {
  width: 60%;
  margin-left: 10px;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  /* line 396, ../scss/main.scss */
  #about-us .right-side .image-container {
    width: 59%;
  }
}
/* line 402, ../scss/main.scss */
#about-us .right-side .image-container img {
  float: right;
}

/***** OUR AMAZING TEAM SECTION *****/
/* line 410, ../scss/main.scss */
#amazing-team {
  *zoom: 1;
  width: 100%;
  text-align: center;
  background: #f9f9f9;
  padding: 115px 0;
}
/* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#amazing-team:after {
  content: "";
  display: table;
  clear: both;
}
/* line 416, ../scss/main.scss */
#amazing-team h2 {
  font: bold 4rem "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  margin: 0 0 20px 0;
}
/* line 422, ../scss/main.scss */
#amazing-team p {
  font-family: "Droid Serif", serif;
  font-size: 1.6rem;
  font-style: italic;
  color: #777;
  margin-bottom: 80px;
}
/* line 429, ../scss/main.scss */
#amazing-team .team-profile {
  width: 33%;
  float: left;
  margin: 0 0 50px 0;
}
/* line 433, ../scss/main.scss */
#amazing-team .team-profile .member-image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 215px;
  height: 215px;
  background: #111;
  margin: 0 auto 20px auto;
}
/* line 440, ../scss/main.scss */
#amazing-team .team-profile h5 {
  font: bold 1.6rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0 0 8px 0;
}
/* line 445, ../scss/main.scss */
#amazing-team .team-profile p {
  font: normal 1.4rem "Roboto Slab", serif;
  color: #777;
  margin: 0 0 10px 0;
}
/* line 450, ../scss/main.scss */
#amazing-team .team-profile li {
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 7px;
}
/* line 455, ../scss/main.scss */
#amazing-team .team-profile a {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  display: inline-block;
  text-indent: -9999px;
}
/* line 459, ../scss/main.scss */
#amazing-team .team-profile a:after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  vertical-align: middle;
  background: transparent url("../img/social_icons.png") 0 0 no-repeat;
}
/* line 468, ../scss/main.scss */
#amazing-team .team-profile a:hover::after {
  background: transparent url("../img/social_icons_hover.png") 0 0 no-repeat;
}
/* line 474, ../scss/main.scss */
#amazing-team .team-profile a.facebook:after {
  background-position: -42px 0;
}
/* line 478, ../scss/main.scss */
#amazing-team .team-profile a.facebook:hover::after {
  background-position: -50px 0;
}
/* line 484, ../scss/main.scss */
#amazing-team .team-profile a.pinterest:after {
  background-position: -85px 0;
}
/* line 488, ../scss/main.scss */
#amazing-team .team-profile a.pinterest:hover::after {
  background-position: -100px 0;
}
/* line 494, ../scss/main.scss */
#amazing-team .team-profile a.googleplus:after {
  background-position: 100% 0;
}
/* line 500, ../scss/main.scss */
#amazing-team p.team-message {
  clear: both;
  font: normal 1.6rem "Roboto Slab", serif;
  line-height: 1.6;
  padding: 0 170px;
  margin: 0;
}

/***** CLIENTS SECTION *****/
/* line 510, ../scss/main.scss */
#company-clients {
  width: 100%;
  text-align: center;
  padding: 65px 0;
}
/* line 514, ../scss/main.scss */
#company-clients li {
  display: inline-block;
  margin: 0 25px;
}
/* line 518, ../scss/main.scss */
#company-clients a {
  display: inline-block;
  text-decoration: none;
  text-indent: -9999px;
  font-size: 1.6rem;
}
/* line 523, ../scss/main.scss */
#company-clients a::after {
  display: block;
  content: "";
  width: 160px;
  height: 43px;
  background: transparent url("../img/brand_logo.png") 0 0 no-repeat;
}
/* line 532, ../scss/main.scss */
#company-clients a.wordpress::after {
  width: 188px;
  background-position: -170px 0;
}
/* line 538, ../scss/main.scss */
#company-clients a.aetuts::after {
  width: 132px;
  background-position: -368px 0;
}
/* line 544, ../scss/main.scss */
#company-clients a.microlancer::after {
  width: 167px;
  background-position: 100% 0;
}

/***** CONTACT US SECTION *****/
/* line 552, ../scss/main.scss */
#contact-us {
  width: 100%;
  text-align: center;
  background: #222 url("../img/contact_us_bg.png") 100% 130px no-repeat;
  padding: 105px 0 115px 0;
}
/* line 557, ../scss/main.scss */
#contact-us h2 {
  color: #fff;
  font: bold 4rem "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 563, ../scss/main.scss */
#contact-us p {
  font: "Droid Serif", serif;
  font-size: 1.6rem;
  font-style: italic;
  color: #777;
  margin-bottom: 70px;
}
/* line 570, ../scss/main.scss */
#contact-us .form-container {
  width: 100%;
  padding: 0 5%;
}
/* line 573, ../scss/main.scss */
#contact-us .form-container form {
  *zoom: 1;
}
/* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#contact-us .form-container form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 576, ../scss/main.scss */
#contact-us .form-container .inputs, #contact-us .form-container .textarea {
  width: 48%;
  float: left;
  margin: 0 2% 30px 0;
}
/* line 580, ../scss/main.scss */
#contact-us .form-container .inputs p, #contact-us .form-container .textarea p {
  margin: 0 0 25px 0;
}
/* line 582, ../scss/main.scss */
#contact-us .form-container .inputs p:nth-child(3), #contact-us .form-container .textarea p:nth-child(3) {
  margin-bottom: 0;
}
/* line 586, ../scss/main.scss */
#contact-us .form-container .inputs input[type="text"], #contact-us .form-container .textarea input[type="text"], #contact-us .form-container .inputs input[type="email"], #contact-us .form-container .textarea input[type="email"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  font: bold 1.4rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #777;
  text-transform: uppercase;
  border: 1px solid #777;
  padding: 15px 20px;
}
/* line 599, ../scss/main.scss */
#contact-us .form-container .textarea {
  margin: 0 0 30px 2%;
}
/* line 602, ../scss/main.scss */
#contact-us .form-container .textarea textarea {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 200px;
  font: bold 1.4rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #777;
  text-transform: uppercase;
  padding: 15px 20px;
}
/* line 613, ../scss/main.scss */
#contact-us .form-container button#send-message {
  -moz-transition: background, 0.3s;
  -o-transition: background, 0.3s;
  -webkit-transition: background, 0.3s;
  transition: background, 0.3s;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 240px;
  font: bold 1.8rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #fed136;
  border: 4px solid #fed136;
  padding: 24px 40px;
  cursor: pointer;
}
/* line 624, ../scss/main.scss */
#contact-us .form-container button#send-message:hover {
  background: #fecb1d;
  border-bottom: 4px solid #cd9f01;
  text-decoration: underline;
}

/***** FOOTER SECTION *****/
/* line 634, ../scss/main.scss */
footer {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}
/* line 638, ../scss/main.scss */
footer p {
  display: inline-block;
  font: normal 1.4rem "Montserrat", Helvetica, Arial, sans-serif;
  color: #555;
  margin: 0 115px 0 0;
}
/* line 644, ../scss/main.scss */
footer ul {
  display: inline-block;
}
/* line 647, ../scss/main.scss */
footer li {
  display: inline-block;
  margin: 0 5px;
}
/* line 651, ../scss/main.scss */
footer a {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  display: inline-block;
  text-indent: -9999px;
  margin: -25px 0 0 0;
  vertical-align: top;
}
/* line 657, ../scss/main.scss */
footer a::after {
  display: block;
  content: "";
  width: 41px;
  height: 40px;
  background: transparent url("../img/footer_social_icons.png") 0 0 no-repeat;
}
/* line 665, ../scss/main.scss */
footer a:hover::after {
  background: transparent url("../img/footer_social_icons_hover.png") 0 0 no-repeat;
}
/* line 671, ../scss/main.scss */
footer a.footer-facebook::after {
  background-position: -51px 0;
}
/* line 676, ../scss/main.scss */
footer a.footer-pinterest::after {
  background-position: -101px 0;
}
/* line 681, ../scss/main.scss */
footer a.footer-google::after {
  background-position: 100% 0;
}
