$gold			: #fed136;
$white			: #fff;
$black			: #111;
$lightblack		: #222;
$lighterblack	: #333;
$darkgray		: #555;
$gray			: #777;
$lightgray		: #737373;

$headerbg		: #2f2f32;
$lightgraybg	: #f7f7f7;
$darkgraybg		: #f9f9f9;
$image-border	: #f1f1f1;

$font-mont		: 'Montserrat', Helvetica, Arial, sans-serif;
$font-droid		: 'Droid Serif', serif;
$font-roboto	: 'Roboto Slab', serif;;

$desktop		: 1300px;