$gold			: #fed136;
$white			: #fff;
$lightblack		: #222;
$lighterblack	: #333;
$gray			: #777;
$lightgray		: #737373;
$headerbg		: #2f2f32;
$lightgraybg	: #f7f7f7;
$image-border	: #f1f1f1;
$font-mont		: 'Montserrat', Helvetica, Arial, sans-serif;
$font-droid		: 'Droid Serif', serif;
$font-roboto	: 'Roboto Slab', serif;;
