@import 'compass';
@import 'compass/reset';
@import 'variables';
@import 'mixins';
@import 'breakpoint';

/***** GLOBAL STYLES *****/
*, *::before, *::after { @include box-sizing; }
html { font-size: 62.5%; }
body {
	font-family: $font-roboto;
	font-size: 1rem;
	background: $white;
}
.container { 
	max-width: 1200px;
	padding: 0 5%;
	margin: 0 auto;  
} //end container

/***** MAIN HEADER SECTION *****/
#main-header {
	width: 100%;
	background: url("../img/header_bg.jpg") no-repeat center center;
	text-align: center;
	padding: 40px 0 0 0;
	@include background-size(cover);
	@include pie-clearfix;
	img {
		@include float-left;
	} //end img
	nav {
		@include float-right;
		@include transition(all, 0.3s);
		font-family: $font-mont;
		font-size: 1.4rem;
		li {
			display: inline-block;
			margin: 0 20px;
		} //end li
		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $gold;
			} //end hover
		} //end a
	} //end nav
	p {
		clear: both;
		color: $white;
		font-family: $font-droid;
		font-size: 4rem;
		font-style: italic;
		padding: 215px 0 55px 0;
	} //end p
	h1 {
		font: bold 7.2rem $font-mont;
		color: $white;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	a#tell-more {
		@include border-radius(4px);
		@include transition(all, 0.3s);
		width: 240px;
		display: inline-block;
		font: bold 1.8rem $font-mont;
		color: $white;
		background: $gold;
		text-transform: uppercase;
		text-decoration: none;
		padding: 25px 0;
		margin-bottom: 160px;
		&:hover {
			background: darken($gold, 5%);
		} //end hover
	} //end a#tell-more
} //end #main-header

/***** SERVICES SECTION *****/
#services {
	width: 100%;
	text-align: center;
	padding: 120px 0;
	h2 {
		font: bold 4rem $font-mont;
		text-transform: uppercase;
		color: $lightblack;
		margin-bottom: 20px;
	} // end h2
	p {
		font: normal 1.6rem $font-droid;
		font-style: italic;
		color: $gray;
		margin-bottom: 70px;
	} // end p
	li {
		display: inline-block;
		width: 28%;
		&:nth-child(2) {
			margin: 0 4%;
		} //end li:nth-child(2)
		img { 
			width: 100%;
			max-width: 70px; 
			margin-bottom: 20px;
		} //end img
		h4 {
			color: $lightblack;
			font: bold 1.8rem $font-mont;
			margin-bottom: 20px;
		} //end h4
		p {
			font: normal 1.4rem $font-roboto;
			line-height: 1.7;
			margin: 0;
			text-align: left;
		} //end p
	} //end li
} //end #services

/***** PORTFOLIO SECTION *****/
#portfolio {
	width: 100%;
	text-align: center;
	background: $lightgraybg;
	padding: 115px 0 70px 0;
	h2 {
		font: bold 4rem $font-mont;
		color: $lightblack;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	p {
		font: normal 1.6rem $font-droid;
		font-style: italic;
		color: $gray;
		margin-bottom: 75px;
	}
	li {
		width: 30%;
		display: inline-block;
		background: $white;
		margin-bottom: 50px;
		cursor: pointer;
		&:nth-of-type(3n+2) { margin: 0 2.5%; }
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			margin-bottom: 30px;
		} //end img
		h4 {
			font: bold 1.8rem $font-mont;
			color: $lighterblack;
		} //end h4
		p {
			font-size: 1.4rem;
			color: $lightgray;
			margin-bottom: 30px;
		}
	} //end li
} //end #portfolio

/***** ABOUT US SECTION *****/
#about-us {
	@include clearfix;
	width: 100%;
	text-align: center;
	padding: 120px 0 30px 0;
	h2 {
		font: bold 4rem $font-mont;
		color: $lightblack;
		text-transform: uppercase;
		margin-bottom: 20px;
	} //end h2
	p {
		font: $font-droid;
		font-size: 1.6rem;
		font-style: italic;
		color: $lightgray;
		padding-left: 30px;
		margin-bottom: 70px;
	} //end p
	//for events positioned on the left side of the timeline
	.memorable-events {
		@include pie-clearfix;
		width: 100%;
		margin-bottom: 90px;
		z-index: 1;
		.text-wrapper {
			@include float-left;
			width: 40%;
			text-align: right;
			margin-right: 30px;
		} //end .text-wrapper
		h3 {
			font: bold 1.8rem $font-mont;
			text-transform: uppercase;
		} //end h3
		h4 {
			font: bold 1.8rem $font-mont;
			margin-bottom: 20px;
		} //end h4
		p {
			font: normal 1.4rem $font-roboto;
			color: $gray;
			line-height: 1.6;
			padding-left: 70px;
			margin: 0;
		} //end p
		.image-container {
			width: 50%;
			text-align: left;
			@include float-left;
			position: relative;
			&:after {
				height: 150px;
				content: "";
				border-right: 3px solid $image-border;
				position: absolute;
				top: 160px;
				left: 17.5%;
				z-index: -1;
			} //end :after
			img {
			@include border-radius(50%);
			width: 180px;
			height: 180px;
			border: 10px solid $image-border;
			object-fit: cover;
			} //end img
		} //end .image-container
		#our-story {
			@include border-radius(50%);
			width: 180px;
			height: 180px;
			text-align: center;
			background: $gold;
			border: 10px solid $image-border;
			margin: 0 auto;
			position: relative;
			left: 20px;
			h3 {
				color: $white;
				line-height: 1.4;
				padding: 48px 0 0 0;
			}
		} //end #our-story
		
	} //end .memorable-events
	//for events positioned on the right side of the timeline
	.right-side {
		@include pie-clearfix;
		z-index: 1;
		.text-wrapper {
			width: 35%;
			float: right;
			text-align: left;
			margin: 0 0 0 30px;
		} //end .text-wrapper
		p {
			margin: 0;
			padding: 0;
		} //end p
		.image-container {
			width: 60%;
			margin-left: 10px;
			&:after {
				height: 150px;
				content: "";
				border-right: 3px solid $image-border;
				position: absolute;
				top: 160px;
				right: 15%;
				z-index: -1;
			} //end :after
			img {
				float: right;
			} //end img
		} //end .image-container
	}//end right
} //end #about-us

/***** OUR AMAZING TEAM SECTION *****/
#amazing-team {
	@include pie-clearfix;
	width: 100%;
	text-align: center;
	background: $darkgraybg;
	padding: 115px 0;
	h2 {
		font: bold 4rem $font-mont;
		color: $lightblack;
		margin: 0 0 20px 0;
	} //end #amazing team h2
	p {
		font-family: $font-droid;
		font-size: 1.6rem;
		font-style: italic;
		color: $gray;
		margin-bottom: 80px;
	} //end #amazing-team p
	.team-profile {
		width: 33%;
		float: left;
		margin: 0 0 50px 0;
		.member-image {
			@include border-radius(50%);
			width: 215px;
			height: 215px;
			background: $black;
			margin: 0 auto 20px auto;
		} // end .member-image
		h5 {
			font: bold 1.6rem $font-mont;
			color: $lightblack;
			margin: 0 0 8px 0;
		} //end .team-profile h5
		p {
			font: normal 1.4rem $font-roboto;
			color: $gray;
			margin: 0 0 10px 0;
		} //end .team-profile p
		li {
			display: inline-block;
			font-size: 1.6rem;
			margin: 0 7px;
		}
		a {
			@include transition(all, 0.3s);
			display: inline-block;
			text-indent: -9999px;
			&:after {
				display: block;
				content: "";
				width: 41px;
				height: 41px;
				vertical-align: middle;
				background: transparent url("../img/social_icons.png") 0 0 no-repeat;
			} //end a:after
			&:hover {
				&::after {
					background: transparent url("../img/social_icons_hover.png") 0 0 no-repeat;
				}
			} //end hover
		} //end a
		a.facebook {
			&:after {			
				background-position: -42px 0;
			} //end a.facebook:after
			&:hover {
				&::after {
					background-position: -50px 0;	
				}
			} //end hover
		} //end a.facebook
		a.pinterest {
			&:after {			
				background-position: -85px 0;
			} //end a.pinterest:after
			&:hover {
				&::after {
					background-position: -100px 0;	
				}
			} //end hover
		} //end a.pinterest
		a.googleplus {
			&:after {			
				background-position: 100% 0;
			} //end a.googleplus:after
			
		} //end a.googleplus
	} //end .team-profile
	p.team-message {
		clear: both;
		font: normal 1.6rem $font-roboto;
		line-height: 1.6;
		padding: 0 170px;
		margin: 0;
	} //end .team-message
} //end #amazing-team

/***** CLIENTS SECTION *****/
#company-clients {
	width: 100%;
	text-align: center;
	padding: 65px 0;
	li {
		display: inline-block;
		margin: 0 25px;
	}
	a {
		display: inline-block;
		text-decoration: none;
		text-indent: -9999px;
		font-size: 1.6rem;
		&::after {
			display: block;
			content: "";
			width: 160px;
			height: 43px;
			background: transparent url("../img/brand_logo.png") 0 0 no-repeat;
		} //end ::after
	} //end a(envato)
	a.wordpress {
		&::after {
			width: 188px;
			background-position: -170px 0;
		} //end ::after
	} //end a.wordpress
	a.aetuts {
		&::after {
			width: 132px;
			background-position: -368px 0;
		} //end ::after
	} //end a.aetuts
	a.microlancer {
		&::after {
			width: 167px;
			background-position: 100% 0;
		} //end ::after
	} //end a.microlancer
} //end #company-clients